<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body class="homeBody">
        <nav>
            <%- include('./partials/nav.ejs') %>
        </nav>
        <p>Ran out of time, didn't want to delete this yet. :)</p>
    </body>
</html>